.container{
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
}

.header h1{
    padding: 10px;
}

.header a{
    text-decoration: none;
}

.body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 576px) {  
    .body{
        justify-content: flex-start;
    }
}