.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
}

.inputContainer label{
    margin: 0;
    font-weight: 500;
}

@media (max-width: 576px) {  
    .container{
        flex-direction: column;
        align-items: center;
    }

    .inputContainer{
        width: 90%;
        margin: 0;
    }
}