.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body {
    width: 100%;
    max-width: 1050px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1{
    padding: 10px;
    margin: 0;
}

@media (max-width: 576px) {
    .header {
        flex-direction: column;
    }
}