.container{
    width: 100%;
}

.body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container h1{
    padding: 10px;
}


@media (max-width: 576px) {  

}