.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.body{
    width: 100%;
    max-width: 1050px;
}


@media (max-width: 576px) {      
    .section{
        border-bottom: var(--borderDetails)
    }
}