.container{
    display: flex;
    border: var(--borderDetails);
    border-bottom: none;
    cursor: pointer;
    padding: 10px;
}

.container:nth-child(odd){
    background-color: #f3f3f3;;
}

.container:last-child{
    border-bottom: var(--borderDetails);
}

.itemLeft{
    display: flex;
    align-items: center;
}

.circle{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 100%;
    margin: 10px;
}

.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email{
    display: flex;
    align-items: center;
    padding: 10px;
}

@media (max-width: 576px) {  
    .container{
        border-left: none;
        border-right: none;
    }
    .details{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
    }

    .email{
        padding: 0;
    }
}

