.container{
    width: 100%;
    max-width: 32%;
    min-width: 300px;
    border: var(--borderDetails);
    padding: 15px;
    padding-top: 0;
    margin-bottom: 20px;
}

.container h4{
    padding-top: 10px;
}

@media (max-width: 576px) {  
    .container{
        border:none;
        min-width: none;
    }

    .post{
        border-bottom: var(--borderDetails);
        max-width: none;
        margin-bottom: 0;
    }
}