body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

:root{
    --borderDetails: 1px solid rgb(145, 145, 145);
}

p{
    margin: 0;
}

a{
    color: rgb(2, 202, 202);
}

a:hover{
    text-decoration: none;
}

@media (max-width: 576px) {  
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 22px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  }